html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-columns {
    column-count: 3;
}
.x-icon {
    position: absolute;
    top: 2px;
    right: 5px;
}

.delete-icon {
    position: absolute;
    top: 50px;
    right: 5px;
}

.text-white{
    color:whitesmoke;
}